.area__container {
    position: relative;
    width: 100%;
    height: 100%;

    .area {
        width: 100%;
        overflow: hidden;
        @media @desktop {
            position: absolute;
            width: 50%;   
            height: 100%;
        }
        main {
            margin-top: 230px;
            @media @desktop {
                margin-top: 0;
            }
        }
        &.left {
            left: 0;
            padding: 20px; 
            @media @desktop {
                height: 100%;
                padding: 20px 69px 20px 69px;
            }
            &:before {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                background: transparent;
            }
            .web__title {
                text-transform: uppercase;
                letter-spacing: 1px;
                a {
                    transition: all 300ms ease-in-out;
                    color: @color-primary-1;
                    &:active, &:hover {
                        text-decoration: none;
                    }
                }
            }
            .content__wrapper {
                padding-top: 30px;
                padding-bottom: 50px;
                transition: all 300ms ease-in-out;
                @media @desktop {
                    padding-top: 60px;

                }
                h1 {
                    @media @desktop {
                        font-size: 65px;
                    }
                }
                p {
                    @media @tablet {
                        padding: 20px 0 45px 20px;
                        border-left: 1px solid @color-grey-15;
                        border-bottom: 1px solid @color-grey-15;
                    }
                }
            }
            footer {
                width: 100%;
                text-align: center;
                @media @desktop {
                    position: absolute;
                    bottom: 15px;
                    left: 50%;
                    .transform(translateX(-50%));
                }
                p {
                    font-size: 10px;
                }
            }
        }
        &.right {
            right: 0;
            background-size: cover;
            position: absolute;
            top: 65px;

            @media @desktop {
                top: 0;
                cursor: pointer;
            }
            .hidden__message {
                opacity: 0;
                background: rgba(99,99,99,.3);
                margin: 0;
                padding: 10px;
                box-shadow: rgba(0,0,0,.5) 3px 4px 5px;
                position: absolute;
                border-radius: 5px;
                bottom: 15%;
                left: 50%;
                .transform(translateX(-50%)translateY(-50%));
                transition: all 300ms ease-in-out;
                color: #FFF;
                font-size: 10px;
                cursor: pointer;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
            &:before {
                @media @desktop {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: #EEE;
                    opacity: .4;
                }
            }
        }
    }
    .area.left, .area.right, .area.right:before, .area.left:before {
        transition: 1s all ease-in-out;
    }
}

// Hover on left side
.hover-left .left {
    width: 75%;
}
.hover-left .right {
    width: 25%;
}
.hover-left .right:before {
    z-index: 2;
}

// Hover on right side
.hover-right .right {
    width: 65%;
    /*transform: scale(1.1);*/
    z-index: 3;
}
.hover-right .left {
    width: 35%;
}
.hover-right .area.left:before {
    z-index: 2;
    background: #fff;
    opacity: .7;
}
.hover-right .area.right:before {
    opacity: 0;
}