/* Fonts */
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?61912312');
  src: url('../font/fontello.eot?61912312#iefix') format('embedded-opentype'), url('../font/fontello.woff2?61912312') format('woff2'), url('../font/fontello.woff?61912312') format('woff'), url('../font/fontello.ttf?61912312') format('truetype'), url('../font/fontello.svg?61912312#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?61912312#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-angle-down:before {
  content: '\f107';
}
/* 'ï„‡' */
.animated {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
/*Move Down*/
@-webkit-keyframes move {
  from {
    top: 0;
    left: 0;
  }
  to {
    top: 4em;
    left: 0;
  }
}
@-moz-keyframes move {
  from {
    top: 0;
    left: 0;
  }
  to {
    top: 4em;
    left: 0;
  }
}
@-o-keyframes move {
  from {
    top: 0;
    left: 0;
  }
  to {
    top: 4em;
    left: 0;
  }
}
@keyframes move {
  from {
    top: 0;
    left: 0;
  }
  to {
    top: 4em;
    left: 0;
  }
}
/*Fade In*/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fadeOut {
  animation-name: fadeOut;
}
/*Zoom In*/
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.75, 0.75, 0.75);
    transform: scale3d(0.75, 0.75, 0.75);
  }
  50% {
    opacity: 1;
  }
}
@-moz-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.75, 0.75, 0.75);
    transform: scale3d(0.75, 0.75, 0.75);
  }
  50% {
    opacity: 1;
  }
}
@-o-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.75, 0.75, 0.75);
    transform: scale3d(0.75, 0.75, 0.75);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.75, 0.75, 0.75);
    transform: scale3d(0.75, 0.75, 0.75);
  }
  50% {
    opacity: 1;
  }
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.move {
  -webkit-animation-name: move;
  animation-name: move;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}
@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@-webkit-keyframes animate-arrow-right {
  0% {
    -webkit-transform: translate(0, 0) scale(1, 1);
    transform: translate(0, 0) scale(1, 1);
    -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
    transform: translate3d(0, 0, 0) scale(1, 1);
    opacity: 1;
  }
  50% {
    -webkit-transform: translate(10px, 0) scale(1.3, 1);
    transform: translate(10px, 0) scale(1.3, 1);
    -webkit-transform: translate3d(10px, 0, 0) scale(1.3, 1);
    transform: translate3d(10px, 0, 0) scale(1.3, 1);
    opacity: 0;
  }
  51% {
    -webkit-transform: translate(-10px, 0) scale(1.3, 1);
    transform: translate(-10px, 0) scale(1.3, 1);
    -webkit-transform: translate3d(-10px, 0, 0) scale(1.3, 1);
    transform: translate3d(-10px, 0, 0) scale(1.3, 1);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0) scale(1, 1);
    transform: translate(0, 0) scale(1, 1);
    -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
    transform: translate3d(0, 0, 0) scale(1, 1);
    opacity: 1;
  }
}
@keyframes animate-arrow-right {
  0% {
    -webkit-transform: translate(0, 0) scale(1, 1);
    transform: translate(0, 0) scale(1, 1);
    -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
    transform: translate3d(0, 0, 0) scale(1, 1);
    opacity: 1;
  }
  50% {
    -webkit-transform: translate(10px, 0) scale(1.3, 1);
    transform: translate(10px, 0) scale(1.3, 1);
    -webkit-transform: translate3d(10px, 0, 0) scale(1.3, 1);
    transform: translate3d(10px, 0, 0) scale(1.3, 1);
    opacity: 0;
  }
  51% {
    -webkit-transform: translate(-10px, 0) scale(1.3, 1);
    transform: translate(-10px, 0) scale(1.3, 1);
    -webkit-transform: translate3d(-10px, 0, 0) scale(1.3, 1);
    transform: translate3d(-10px, 0, 0) scale(1.3, 1);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0) scale(1, 1);
    transform: translate(0, 0) scale(1, 1);
    -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
    transform: translate3d(0, 0, 0) scale(1, 1);
    opacity: 1;
  }
}
.animate-arrow-right {
  -webkit-animation-name: animate-arrow-right;
  animation-name: animate-arrow-right;
}
@-webkit-keyframes animate-arrow-down {
  0% {
    -webkit-transform: translate(0, 0) scale(1, 1);
    transform: translate(0, 0) scale(1, 1);
    -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
    transform: translate3d(0, 0, 0) scale(1, 1);
    opacity: 1;
  }
  50% {
    -webkit-transform: translate(0, 20px) scale(1, 2);
    transform: translate(0, 20px) scale(1, 2);
    -webkit-transform: translate3d(0, 20px, 0) scale(1, 2);
    transform: translate3d(0, 20px, 0) scale(1, 2);
    opacity: 0;
  }
  51% {
    -webkit-transform: translate(0, -20px) scale(1, 2);
    transform: translate(0, -20px) scale(1, 2);
    -webkit-transform: translate3d(0, -20px, 0) scale(1, 2);
    transform: translate3d(0, -20px, 0) scale(1, 2);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0) scale(1, 1);
    transform: translate(0, 0) scale(1, 1);
    -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
    transform: translate3d(0, 0, 0) scale(1, 1);
    opacity: 1;
  }
}
@keyframes animate-arrow-down {
  0% {
    -webkit-transform: translate(0, 0) scale(1, 1);
    transform: translate(0, 0) scale(1, 1);
    -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
    transform: translate3d(0, 0, 0) scale(1, 1);
    opacity: 1;
  }
  50% {
    -webkit-transform: translate(0, 20px) scale(1, 2);
    transform: translate(0, 20px) scale(1, 2);
    -webkit-transform: translate3d(0, 20px, 0) scale(1, 2);
    transform: translate3d(0, 20px, 0) scale(1, 2);
    opacity: 0;
  }
  51% {
    -webkit-transform: translate(0, -20px) scale(1, 2);
    transform: translate(0, -20px) scale(1, 2);
    -webkit-transform: translate3d(0, -20px, 0) scale(1, 2);
    transform: translate3d(0, -20px, 0) scale(1, 2);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0) scale(1, 1);
    transform: translate(0, 0) scale(1, 1);
    -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
    transform: translate3d(0, 0, 0) scale(1, 1);
    opacity: 1;
  }
}
.animate-arrow-down {
  -webkit-animation-name: animate-arrow-down;
  animation-name: animate-arrow-down;
}
.area__container {
  position: relative;
  width: 100%;
  height: 100%;
}
.area__container .area {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.area__container .area.left {
  left: 0;
  padding: 20px;
}
.area__container .area.left:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: transparent;
}
.area__container .area.right {
  right: 0;
  background-size: cover;
}
.area__container .area.right .hidden__message {
  opacity: 0;
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: all 300ms ease-in-out;
  color: #FFF;
  font-size: 24px;
  cursor: pointer;
}
.area__container .area.right:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #EEE;
  opacity: .4;
}
.area__container .area.left,
.area__container .area.right,
.area__container .area.right:before,
.area__container .area.left:before {
  transition: 1s all ease-in-out;
}
.hover-left .left {
  width: 75%;
}
.hover-left .right {
  width: 25%;
}
.hover-left .right:before {
  z-index: 2;
}
.hover-right .right {
  width: 65%;
  /*transform: scale(1.1);*/
  z-index: 3;
}
.hover-right .left {
  width: 35%;
}
.hover-right .area.left:before {
  z-index: 2;
  background: #fff;
  opacity: .7;
}
.hover-right .area.right:before {
  opacity: 0;
}
.nav__btn {
  position: absolute;
  top: 5px;
  padding: 8px 35px 8px 0px;
  right: 0px;
  z-index: 5;
  display: block;
  cursor: pointer;
}
.nav__btn span,
.nav__btn span:before,
.nav__btn span:after {
  cursor: pointer;
  border-radius: 3px;
  height: 2px;
  width: 35px;
  background: #333;
  content: '';
  position: absolute;
  display: block;
  transition: all 300ms ease-in-out;
}
.nav__btn span:before {
  top: -7px;
}
.nav__btn span:after {
  bottom: -7px;
}
.nav__btn:hover span {
  background: transparent;
}
.nav__btn:hover span:before {
  transform: rotate(90deg);
  top: 0;
}
.nav__btn:hover span:after {
  bottom: 0;
}
.nav__btn.active span {
  background: transparent;
}
.nav__btn.active span:before,
.nav__btn.active span:after {
  top: 0;
  background: #FFF;
}
.nav__btn.active span:before {
  transform: rotate(45deg);
}
.nav__btn.active span:after {
  transform: rotate(-45deg);
}
.menu {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 4;
  background: linear-gradient(#9000FF, transparent);
  color: #FFF;
}
.menu .menu__list .menu__list--item a {
  color: #FFF;
}
.menu .menu__list .menu__list--item a:active,
.menu .menu__list .menu__list--item a:hover {
  color: #50E3C2;
}
.menu .menu__list .menu__list--item.current__page {
  color: #50E3C2;
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/**/
/**/
.absolute-center-x-y {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.absolute-center-x {
  position: absolute;
  top: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.absolute-center-y {
  position: absolute;
  top: 50%;
  left: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.relative-center-x {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.relative {
  position: relative;
}
.list--unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}
html {
  height: 100%;
  width: 100%;
}
body {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*position: relative;*/
  color: #636363;
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lora', serif;
}
ul {
  list-style: none;
  padding-left: 0;
}
.masthead {
  position: relative;
}
/*Simple reset*/
* {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  position: absolute;
  top: 0;
}
button {
  font-weight: 400;
  font-style: normal;
  font-size: 12.0px;
  color: #f7f7f7;
  letter-spacing: 1.1px;
  line-height: 16.0px;
  text-transform: uppercase;
  background: linear-gradient(to top right, #636363, #50E3C2);
  text-align: center;
  box-shadow: none;
  border: 1px solid transparent;
  margin: 0 auto;
}
button:active,
button:hover {
  background: #FFF;
  color: #50E3C2;
  border: 1px solid #50E3C2;
}
button:active a,
button:hover a {
  color: #50E3C2;
  text-decoration: none;
}
button a {
  transition: all 0.5s ease-in-out;
  color: #f7f7f7;
  padding: 20px 80px;
  display: block;
}
